{% extends "layout.html" %}

{% block content_class %}container-narrow{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Wide Language Index</h1>

  <p>Samples of over 80 different languages, free for use. <a href="https://github.com/larsyencken/wide-language-index/">Learn more &raquo;</a></p>

  <div class="search-form">
    <form id="search-form" class="form-inline">
      <div id="prefetch">
      {{ form.language(placeholder="Enter a language", class="typeahead") }}
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <form class="form-inline">
      <input type="hidden" name="language" value="random">
      <button type="submit" class="btn btn-default">Surprise me</button>
    </form>
  </div>

  {% if has_query %}
    <div class="language-info">
    {% if not is_valid %}
    <p>You need to use an ISO 693-3 language code. Use autocompletion to help you find the code for your language, or try the "Surprise me" button.<p>
    {% else %}
    <h2>{{ inverted_name }} [{{ language }}]</h2>
    {% if record %}
      <div class="record-audio">
        <audio controls autoplay>
          <source src="{{ record['media_urls'][0] }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="record-raw">
        <pre>{{ record_json }}</pre>
      </div>
    {% else %}
      <p>There are no samples of this language in our dataset.</p>
      <p>Know a good source? Please <a href="https://github.com/larsyencken/wide-language-index/blob/master/CONTRIBUTING.md">add it</a>.</p>
    {% endif %}
    {% endif %}
    </div>
  {% endif %}
</div><!-- /.jumbotron -->
{% endblock %}
