{% extends "layout.html" %}

{% block content_class %}container-narrow{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Wide Language Index</h1>

  <p>Samples of over 80 different languages, free for use. <a href="https://github.com/larsyencken/wide-language-index/">Learn more &raquo;</a></p>

  <div class="search-form">
    <form id="search-form" class="form-inline">
      <div class="form-group">
        {{ form.language(placeholder="Enter a language") }}
      </div>
      <button class="btn btn-primary">Search</button>
      <button class="btn btn-default">Surprise me</button>
    </form>
  </div>
</div><!-- /.jumbotron -->
{% endblock %}
